body {
  background-image: url(./assets/image/hijab.png);
  background-size: 98%;
  font-size: 2rem;
  margin: 3rem auto;
  background-color: gray;
  color: #fff;
  background-repeat: no-repeat;
  padding: 5rem;
  height: 100vh;
}

@media (max-width: 610px) {
  body {
    background-position: center;
    background-size: cover;
    padding: 2rem;
    font-size: 1.3rem;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0rem auto;
    padding: 0.1rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

nav li {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
}

nav a {
  color: #fff;
  border: 3px solid #fff;
  border-radius: 1rem;
  padding: 0.8rem;
  text-decoration: none;
}
